@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    /* Font styling */
    --font-style: 'Outfit';
    --font-size: 18px;
    --fw-light: 300;
    --fw-mid: 400;
    --fw-bold: 600;

    /* Colors */
    --clr-background-darkblue: hsl(217, 54%, 11%);
    --clr-maincard-skyblue: hsl(215, 51%, 70%);
    --clr-card-dropshadow-navyblue: hsl(215, 51%, 70%);
    --clr-break-line-blue: hsl(215, 32%, 27%);
    --clr-ETH-icon-brightblue: hsl(178, 100%, 50%);
}
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

html, body {
  height: 100%;
  display: grid;
  place-content: center;
}